vue/node_modules
vue/dist
vue/src/store/generated/
vue/
release/
testing/js/node_modules
!build
build/wormhole-chaind
build/deltachaind
build/data
devnet/deltachain-*/data
devnet/deltachain-*/config/*.toml
devnet/deltachain-*/config/addrbook.json
devnet/deltachain-*/config/genesis.json
ts-sdk/node_modules
ts-sdk/lib
contracts/artifacts

.idea
*.iml
